.textField
{
    background-color: #303030;
    height: 40px;
    display: grid;
    float: right;
    padding: 10px;
    border-radius: 10px;
}

.body
{
    height: 100vh;
}

.table
{
    background-color: #303030;
    color: white;
    font-size: 28px;

}