@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.textField
{
    background-color: #303030;
    height: 40px;
    display: grid;
    float: right;
    padding: 10px;
    border-radius: 10px;
}

.body
{
    height: 100vh;
}

.table
{
    background-color: #303030;
    font-family: 'Oswald', sans-serif;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
}

.th
{
    color: gray;
    font-size: 24px;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

.header
{
    padding: 25px;
}

.columns
{
    color: white;
    width: 20px;
    font-size: 20px;
}