.addEvents
{
    display: inline-block;
}

.boxTitle
{
    color: gray;
    text-decoration: underline;
    text-shadow: 2px 2px black;
}

.addMeetBox
{
    background-color: #303030;
    height: 40vh;
    width: 50vw;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    opacity: 0.9;
}

.meetFieldsButton
{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

.addRaceBox
{
    background-color: #303030;
    height: 30vh;
    width: 50vw;
    border-radius: 10px;
    position: relative;
    opacity: 0.9;
}