@import url('https://fonts.googleapis.com/css?family=Oswald:500');

.App {
  text-align: center;
  background-image: url("./files/img/Stock-Swimming-Image-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Oswald', sans-serif;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


